{% extends "__layout.twig" %}

{% block content %}
<div>
    <h1>{{title}}</h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ type == 'image' ? 'active' }}" href="/{{name}}/image">Фотокарточка</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link {{ type == 'text' ? 'active' }}" href="/{{name}}/info">Информация</a>
        </li>
    </ul>
</div>




{% block objectContent %}

{% endblock %}
{% endblock %}